@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

:root {
  --font-body: "Inter", sans-serif;
  --bg-black: #000;
}

body {
  font-family: var(--font-body);
  font-size: 15px;
}

.nav {
  background-color: var(--bg-black);
  color: #fff;
}
.nav-group {
  margin-bottom: 15px;
}

.nav-group__label {
  color: #fff;
}

.nav__link {
  border-left: 3px solid transparent;
  padding-left: 5px;
  &.active {
    border-left: 3px solid #ffffff;
    text-decoration: none;
  }
  &:hover {
    border-left: 3px solid #ffffff;
    text-decoration: none;
  }
  .nav__link-indicator {
    background: #fff;
    position: absolute;
    inset-inline-start: -2px;
    border-start-end-radius: 0px;
    border-end-end-radius: 0px;
    width: 2px;
  }
}

.nav-group__toggle {
  background: #364153;
  padding: 6px 8px;
  border-left: 4px solid #ffffff;
}

.nav-group__indicator svg .stroke {
  stroke: #fff;
}

// Title Cell

.pl-title-cell {
  display: flex;
  flex-direction: column;
  gap: 2px;

  .pl-title {
    color: inherit;
    text-decoration: none;
  }

  .pl-actions {
    color: #6b7280;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    transition: all 0.15s;
    display: flex;
  }

  .pl-actions a {
    color: #2271b1;
    text-decoration: none;
  }

  .pl-actions a:hover {
    text-decoration: underline;
  }

  .pl-actions span {
    color: #c4c4c4;
  }
}
